@using CRUDOPS.Infastructure.Database.Models.CRUDOPS.Models;
@model List<UserResult>

<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">Firstname</th>
            <th scope="col">Lastname</th>
            <th scope="col">Gender</th>
            <th scope="col">Email</th>
            <th scope="col">Cell</th>
            <th scope="col">Phone</th>
            <th scope="col">Location</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var obj in Model)
        {
            <tr class="table-active">
                <td>@obj.Name.First</td>
                <td>@obj.Name.Last</td>
                <td>@obj.Gender</td>
                <td>@obj.Email</td>
                <td>@obj.Phone</td>
                <td>@obj.Cell</td>
                <td>@obj.Location.State, @obj.Location.City @obj.Location.Country </td>
               <td> <a href="@Url.Action("Details", new { id= obj.Id })" class="btn btn-primary">Get Details</a></td>

            </tr>
        }

    </tbody>
</table>
<td> <a href="@Url.Action("Index", new { page=1, resultsPerPage = 10 })" class="btn btn-primary">Next</a></td>